.create-container{
    display: flex;
/* width: 100%; */
}

.create-right-section{
    flex:1;
    padding:30px 50px;

}

.create-left-section{
    padding:30px 50px;
    flex:2;
}

.create-title{
    margin: 1em 0em 2em 0em;
}

.title-input{
    margin: 2em 0em;
  width:98.5%;
    padding: 0.7em;
    outline: none;
    border: 0.5px solid grey;
}

.body-input{
    margin: 2em 0em;
    width: 100%;
border-radius: 5px;
}

.tag-title{
    margin: 2em 0em;
}

.tag-selector-section{
    /* margin: auto; */
    height: 20em;
    width: 90%;
    
    border-radius: 5px;
    margin: 2em 0em;
padding: 20px;
}

.button-section{
    display: flex;
    flex-direction: column;
}

.subtitle{
    margin: 2em 0em;
}

.save-btn{
    width: 100%;
    margin: 10px auto;
    
}

.publish-btn{
    width: 100%;
    margin: auto;
}


/* TAGS */

.select-tags{
    height: 200px;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: auto;
}

.selected-tags{
    margin: 10px ;
    display: flex;
    align-items: center;
    align-content: center;

}

/* ACCESSLEVEL */
.access-level{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    /* background-color: rgb(220, 220, 147); */
    font-size: 15px;
    font-weight: 400;
    box-shadow: none;
    margin: 10px ;
    text-transform: uppercase;
}


/* EDITOR */


.ql-editor{
    min-height: 300px;
    max-height:600x;
}

/* GOOGLE DOCS */

.googledocs-link{
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: #f9f9f9;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}


.toggleButton{
margin: 20px 10px;        
width: 100px;
}


.tabs{
   
    display: flex;

}

.tab{
    flex: 1;
    padding: 7px 10px;
    /* border-left: 1px orange solid;
    border-right: 1px orange solid; */
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    /* border-right:  0.5px grey solid;
    border-left: 0.5px grey solid; */
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid rgb(84, 199, 237);
}
.tab:hover{
    border-bottom:5px rgb(84, 199, 237) solid ;
}

.tab-active{
    border-bottom:5px solid rgb(84, 199, 237);
}

.create-subtitle{

font-weight: 500;
margin-bottom:  20px;
margin-top: 20px;
}