.group-container{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.group-page{
    button{ 
        margin : 10px;
        text-transform: uppercase;
    }
}