.container{
  padding: 3em 5em;
}

.btn{
  outline: none;
  margin: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

}

.link{
  text-decoration: none;
}

/* .bg-red{
  background-color:#dc3545 ;
} */

/* .bg-green{
  background-color:#198754 ;
}

.bg-yellow{
  background-color: #ffc107;
}

.bg-blue{
  background-color: #0dcaf0;
} */