*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    

}

/* THEME-COLORS */

.bg-red{
  background-color: #f9D8D6;
}

.bg-green{
  background-color: #cde9d6;
}

.bg-yellow{
  background-color: #fff1cb;
}

.bg-blue{
  background-color: #d2e4fd;
}


.bg-black{
  background-color: #292929;
}

.text-light{
color: #fff;
}
.text-dark{
  color: #272727;
}

a{
  text-decoration: none;
  color:inherit;
}
/* .ng- */