.gitlab-parent{
// h3{
//  margin: 1em 0em;
// }

    // input{
    //     outline: none;
    //     padding: 10px 20px;
    //     border-radius: 5px;
    //     margin: 10px 0px;
    //     border: 0.5px solid grey;
    //     width: 80%;
    //    }

       div{
        border: 1px solid black;
        padding: 30px;
       }

      
}

.pop-button{
    border-radius: 0px 5px 5px 0px;
    border: 1px black solid;
    border-left: none;
}