.search-element{
    width: 97%;
    margin: auto;
padding: 10px;
border-radius: 5px;
margin: 5px auto;
cursor: pointer;
box-sizing: border-box;
border: 1px solid  rgb(198, 198, 255);
border-left: 5px solid rgb(198, 198, 255);
}

.search-element:hover{
    // background-color: rgb(198, 198, 255);
    border: 1px solid rgb(198,198,255);
    border-left: 10px solid rgb(198,198,255);
}

.search-results{
    position: absolute;
    width:100%;
    padding: 0px 0px;
 
    // border-radius: 5px;
    max-height: 400px;
    overflow-y: scroll;
   
    border-top: 0px;
   
}

.search-relative{
    position: absolute;
    margin: auto;
    // background-color: red;
    padding: 10px 0px;
    width: 100%;
    border-radius:0px 0px 5px 5px;
   height: 400px;
   
    border: 1px solid black;
    border-top: none;
    button{
        margin: 10px;
    }
    
}

.search-box-parent{
    width: 60%;
margin: auto;

}

.search-parent{
    margin-bottom: 30px;
}

.close-btn{
    cursor: pointer;
    margin-left: 97%;
    margin-bottom: 5px;
    font-size: 10px;
    // position: absolute;
    // right: 0;
    // z-index: 9;top: 0;
}